/* Feature location promos */

.feature-locations {
	margin-bottom: 30px;
	label {
		@include font-size(1.6);
		width: 100%;
		padding: 5px;
		margin-bottom: 0;
		font-weight: normal;
		span {
			display: inline-block;
		}
		&.active {
			background-color: $secondary-color;
		}
		&.feature-floor-restaurant {
			@extend .josefin;
			font-weight: 700;
			@include font-size(1.8);

		}
	}
	.feature-floor {
		font-weight: 700;
		padding-right: 5px;
	}
	button {
		display: block;
		padding: 0;
		border: 0;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
		&.active {
			box-shadow: 2px 2px 8px rgba(255,255,255,0.8)
		}
	}
}
